<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    <style>
      body { padding-top: 70px; }
    </style>
  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a href="#" class="navbar-brand">GitDB</a>
      <ul class="nav navbar-nav">
        <li><a href="/repos/<%= repo %>/refs">Refs</a></li>
        <li><a href="/repos/<%= repo %>/refs/heads/master/commits">History</a></li>
        <li><a href="/repos/<%= repo %>/refs/heads/master/">Tree</a></li>
      </ul>
    </div>
	</div>
  	<div class="container">
