  <%
  	var progress = "";
  	for (var i = 0; i < pathParts.length; i++) {
	  var part = pathParts[i];
	  progress += '/' + part;
  %>
 	  <% if (i == pathParts.length - 1) { %>
      <li><%= part %></li>
    <% } else { %>
      <li class="active"><a href="<%= root %><%= progress %>"><%= part %></a></li>
    <% } %>
  <% } %>