<% include ../head.html.ejs %>
<% include _breadcrumbs.html.ejs %>
<ul>
<% tree.entries().forEach(function(entry) { %>
  <li>
  <% if (typeof ref !== 'undefined') { %>
   <a href="<%= url.refTreeEntry(repo, ref, path, entry) %>"><%= entry.name() %></a>
  <% } else { %>
    <a href="<%= url.commitTreeEntry(repo, commit, path, entry) %>"><%= entry.name() %></a>
  <% } %>
  </li>
<% }); %>
</ul>
<% include ../foot.html.ejs %>