<% include ../_head.html.ejs %>
<% include _breadcrumbs.html.ejs %>
<div class="list-group">
<% tree.entries().forEach(function(entry) { %>
  <% if (typeof ref !== 'undefined') { %>
   <a class="list-group-item" href="<%= url.refTreeEntry(repo, ref, entry) %>"><%= entry.name() %></a>
  <% } else { %>
    <a class="list-group-item" href="<%= url.commitTreeEntry(repo, commit, entry) %>"><%= entry.name() %></a>
  <% } %>
<% }); %>
</ul>
<% include ../_foot.html.ejs %>