<% include ../_head.html.ejs %>
<% include _breadcrumbs.html.ejs %>
<ul class="list-group">
<% tree.entries().forEach(function(entry) { %>
  <li class="list-group-item">
  <% if (typeof ref !== 'undefined') { %>
   <a href="<%= url.refTreeEntry(repo, ref, entry) %>"><%= entry.name() %></a>
  <% } else { %>
    <a href="<%= url.commitTreeEntry(repo, commit, entry) %>"><%= entry.name() %></a>
  <% } %>
  </li>
<% }); %>
</ul>
<% include ../_foot.html.ejs %>