<% include ../head.html.ejs %>
<ul class="breadcrumb">
  <li><a href="<%= url.repo(repo) %>"><%= repo %></a></li>
  <li class="active">Refs</li>
</ul>
<ul>
<% refs.forEach(function(ref) { %>
  <li><a href="<%= url.ref(repo, ref) %>"><%= ref %></a></li>
<% }); %>
</ul>
<% include ../foot.html.ejs %>