<% include ../head.html.ejs %>
<ul class="breadcrumb">
  <li class="active"><a href="#"><%= repo %></a></li>
</ul>
<h1>Refs</h1>
<ul>
<% refs.forEach(function(ref) { %>
<li><a href="/repos/<%= repo %>/<%= ref %>"><%= ref %></a></li>
<% }); %>
</ul>
<% include ../foot.html.ejs %>