<% include ../_head.html.ejs %>
<ul class="breadcrumb">
  <li><a href="<%= url.repo(repo) %>"><%= repo %></a></li>
  <li class="active">Refs</li>
</ul>
<div class="list-group">
<% refs.forEach(function(ref) { %>
  <a class="list-group-item" href="<%= url.ref(repo, ref) %>"><%= ref %></a>
<% }); %>
</ul>
<% include ../_foot.html.ejs %>